In [2]:
use Hotel_Restaurant_Management;

In [5]:
SELECT CONCAT(Rtrim(last_name), ' ', RTRIM(middle_name), ' ', RTRIM(first_name)) as full_name,
        date_ob, sex, contact_num
FROM employee

full_name,date_ob,sex,contact_num
Dương Quá,1976-10-10,Nam,0902789789
Độc Cô Cầu Bại,1986-12-09,Nam,0923980467
Quách Tương,1986-06-21,Nữ,0898099777
Quách Tĩnh,1981-02-04,Nam,0898219717
Hồng Thất Công,1978-12-19,Nam,0998900122
Võ Tòng,1970-08-12,Nam,0676762822
Lý Mạc Sầu,1969-12-12,Nữ,0998211211
Tào Tử Hiếu,1969-01-18,Nam,0992811211
Lâm Xung,1999-10-01,Nam,0998212123
Lý Quỳ,1967-11-18,Nam,0912786998
Tiểu Long Nữ,1986-09-29,Nữ,0981123213
Trương Văn Viễn,1977-02-22,Nam,0898210222
Tôn Hành Giả,1986-01-01,Nam,0908098098
Trần Huyền Trang,1986-01-11,Nam,0908998998
Trư Ngộ Năng,1986-11-01,Nam,0990898921
Sa Ngộ Tĩnh,1986-12-10,Nam,0987872812
Tôn Văn Đài,1988-10-01,Nam,0922902230

In [7]:
SELECT hotel_id, service_name, price
FROM hotel_service

hotel_id,service_name,price
Hotel03,Hồ bơi,150000
Hotel03,Phòng Dịch Vụ 24h,600000
Hotel04,Hồ bơi,500000
Hotel04,Phòng Giải Trí,450000
Hotel02,Tổ chức tiệc,1000000
Hotel02,Gym,100000
Hotel01,Hồ bơi,500000
Hotel01,Giặt Ủi,100000
Hotel01,Đổi tiền,50000

In [8]:
SELECT CONCAT(Rtrim(last_name), ' ', RTRIM(middle_name), ' ', RTRIM(first_name)) as full_name,
        sex, YEAR(GETDATE()) - YEAR(date_of_birth) as age, contact_number
FROM guest

full_name,sex,age,contact_number
Chu Công Cẩn,Nam,55,0905656565
Lưu Huyền Đức,Nam,72,0905236555
Lã Phụng Tiên,Nam,60,0233299122
Hoàng Nguyệt Anh,Nữ,55,0989212234
Quan Vân Trường,Nam,73,0898221777
Thái Vân Cơ,Nữ,63,0332123332
Tôn Thượng Hương,Nữ,66,0888765666
Tào Mạnh Đức,Nam,68,0789212345
Tư Mã Ý,Nam,72,0972822322
Tuân Úc,Nam,77,0889870623
Lỗ Tử Kính,Nam,63,0923012678
Triệu Tử Long,Nam,77,0965233244

In [9]:
SELECT street + ', ' + ward + ', ' + district + ', ' + city 
FROM address

(No column name)
"25 Lý Tự Trọng, Phường 15, Quận 10, TP Hồ Chí Minh"
"195 Trần Cao Vân, Phường Tân Phú, Quận 7, TP Hồ Chí Minh"
"87 Đường 3/2, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh"
"67 Cách Mạng Tháng 8, Phường 8, Quận 10, TP Hồ Chí Minh"

In [6]:
SELECT h.name, CONCAT(RTRIM(street),', ', RTRIM(ward),', ', RTRIM(district),', ',RTRIM(city)) as address
FROM hotel as h 
INNER JOIN address as a 
ON h.address_hotel_id = a.address_id

name,address
Mường Thanh Luxury,"67 Cách Mạng Tháng 8, Phường 8, Quận 10, TP Hồ Chí Minh"
Minh Toàn Galaxy,"87 Đường 3/2, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh"
Agoda Hotel,"25 Lý Tự Trọng, Phường 15, Quận 10, TP Hồ Chí Minh"
LandMark 81,"195 Trần Cao Vân, Phường Tân Phú, Quận 7, TP Hồ Chí Minh"

In [10]:
SELECT CONCAT(RTRIM(e.last_name),' ',RTRIM(middle_name),' ', RTRIM(first_name)) as full_name,
        date_ob, sex, h.name as hotel, d.name_depart as department
FROM employee as e
INNER JOIN hotel as h 
ON e.emp_hotel_id = h.hotel_id 
INNER JOIN department as d 
ON e.emp_department_id = d.department_id

full_name,date_ob,sex,hotel,department
Dương Quá,1976-10-10,Nam,Agoda Hotel,Ban Tiếp Khách
Độc Cô Cầu Bại,1986-12-09,Nam,Agoda Hotel,Ban Đón Khách
Quách Tương,1986-06-21,Nữ,Agoda Hotel,Ban Vệ Sinh
Quách Tĩnh,1981-02-04,Nam,Agoda Hotel,Ban Quản Lý
Hồng Thất Công,1978-12-19,Nam,LandMark 81,Quầy Tiếp Tân
Võ Tòng,1970-08-12,Nam,LandMark 81,Ban Đón Khách
Lý Mạc Sầu,1969-12-12,Nữ,LandMark 81,Ban Quản Lý
Tào Tử Hiếu,1969-01-18,Nam,LandMark 81,Ban Vệ Sinh
Lâm Xung,1999-10-01,Nam,Minh Toàn Galaxy,Ban Tiếp Khách
Lý Quỳ,1967-11-18,Nam,Minh Toàn Galaxy,Ban Vệ Sinh
Tiểu Long Nữ,1986-09-29,Nữ,Minh Toàn Galaxy,Ban Đón Khách
Trương Văn Viễn,1977-02-22,Nam,Minh Toàn Galaxy,Quầy Tiếp Tân
Tôn Hành Giả,1986-01-01,Nam,Mường Thanh Luxury,Ban Quản Lý
Trần Huyền Trang,1986-01-11,Nam,Mường Thanh Luxury,Quầy Tiếp Tân
Trư Ngộ Năng,1986-11-01,Nam,Mường Thanh Luxury,Ban Vệ Sinh
Sa Ngộ Tĩnh,1986-12-10,Nam,Mường Thanh Luxury,Ban Đón Khách
Tôn Văn Đài,1988-10-01,Nam,Mường Thanh Luxury,Ban Tiếp Khách

In [38]:
SELECT  DISTINCT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        h.name as hotel,  hs.service_name
FROM booking as b 
INNER JOIN service_used as s 
ON b.booking_id = s.service_booking_id 
INNER JOIN hotel_service as hs 
ON s.hotel_service_id = hs.service_id
INNER JOIN hotel as h 
ON hs.hotel_id = h.hotel_id
INNER JOIN guest as g 
ON b.guest_booking_id = g.guest_id 
ORDER BY full_name;

full_name,hotel,service_name
Lã Phụng Tiên,LandMark 81,Phòng Giải Trí
Lỗ Tử Kính,Agoda Hotel,Hồ bơi
Lỗ Tử Kính,Agoda Hotel,Phòng Dịch Vụ 24h
Lỗ Tử Kính,LandMark 81,Phòng Giải Trí
Quan Vân Trường,Minh Toàn Galaxy,Tổ chức tiệc
Quan Vân Trường,Mường Thanh Luxury,Hồ bơi
Tào Mạnh Đức,Minh Toàn Galaxy,Tổ chức tiệc
Thái Vân Cơ,LandMark 81,Hồ bơi
Tôn Thượng Hương,LandMark 81,Hồ bơi
Triệu Tử Long,Minh Toàn Galaxy,Gym
Triệu Tử Long,Mường Thanh Luxury,Đổi tiền
Triệu Tử Long,Mường Thanh Luxury,Giặt Ủi
Triệu Tử Long,Mường Thanh Luxury,Hồ bơi
Tư Mã Ý,Mường Thanh Luxury,Giặt Ủi

In [30]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        h.name,  hs.service_name,s.count
FROM booking as b 
INNER JOIN service_used as s 
ON b.booking_id = s.service_booking_id 
INNER JOIN hotel_service as hs 
ON s.hotel_service_id = hs.service_id
INNER JOIN hotel as h 
ON hs.hotel_id = h.hotel_id
INNER JOIN guest as g 
ON b.guest_booking_id = g.guest_id

full_name,name,service_name,count
Triệu Tử Long,Mường Thanh Luxury,Hồ bơi,1
Triệu Tử Long,Mường Thanh Luxury,Đổi tiền,2
Lã Phụng Tiên,LandMark 81,Phòng Giải Trí,2
Quan Vân Trường,Minh Toàn Galaxy,Tổ chức tiệc,1
Thái Vân Cơ,LandMark 81,Hồ bơi,3
Lỗ Tử Kính,Agoda Hotel,Hồ bơi,1
Lỗ Tử Kính,Agoda Hotel,Phòng Dịch Vụ 24h,2
Tào Mạnh Đức,Minh Toàn Galaxy,Tổ chức tiệc,2
Tư Mã Ý,Mường Thanh Luxury,Giặt Ủi,1
Triệu Tử Long,Mường Thanh Luxury,Hồ bơi,2
Lỗ Tử Kính,LandMark 81,Phòng Giải Trí,1
Quan Vân Trường,Mường Thanh Luxury,Hồ bơi,3
Triệu Tử Long,Mường Thanh Luxury,Hồ bơi,2
Triệu Tử Long,Mường Thanh Luxury,Giặt Ủi,1
Tư Mã Ý,Mường Thanh Luxury,Giặt Ủi,2
Tôn Thượng Hương,LandMark 81,Hồ bơi,1
Lỗ Tử Kính,Agoda Hotel,Hồ bơi,1
Triệu Tử Long,Minh Toàn Galaxy,Gym,3

In [33]:
SELECT r.name as restaurant, dn.dish_name, price
FROM menu as m
INNER JOIN dish_name as dn 
ON m.menu_id = dn.menu_id 
INNER JOIN restaurant as r 
ON m.res_id = r.res_id

restaurant,dish_name,price
Agoda Restaurant,Cua hấp,90000
Agoda Restaurant,Bò hấp,100000
Agoda Restaurant,Tôm hấp,80000
Agoda Restaurant,Gà hấp,60000
Agoda Restaurant,Cá hấp,75000
Agoda Restaurant,Cà phê,29000
Agoda Restaurant,Nước bí đao,15000
Land Mark Restaurant,Tôm hùm hấp,600000
Land Mark Restaurant,Súp bí ngô,150000
Land Mark Restaurant,Bò sốt tiêu đen,700000
Land Mark Restaurant,Mỳ ý bò bằm,200000
Land Mark Restaurant,Salad rau củ,100000
Land Mark Restaurant,Cà phê và trái cây,80000
Land Mark Restaurant,Nước trái cây các loại,30000
Minh Toàn Restaurant,Gà nướng,100000
Minh Toàn Restaurant,Salad cá ngừ,80000
Minh Toàn Restaurant,Sườn nướng,200000
Minh Toàn Restaurant,Mỳ ý,70000
Minh Toàn Restaurant,Súp cua,70000
Minh Toàn Restaurant,Cà phê sữa,25000
Minh Toàn Restaurant,Nước rau má,30000
Mường Thanh Restaurant,Cơm chiên dương châu,100000
Mường Thanh Restaurant,Cá hồi áp chảo,450000
Mường Thanh Restaurant,Bò bít tết,500000
Mường Thanh Restaurant,Súp kem nấm,120000
Mường Thanh Restaurant,Cá ngừ & mù tạt,200000
Mường Thanh Restaurant,Cà phê và bánh,50000
Mường Thanh Restaurant,Nước cam,40000

In [36]:
SELECT h.name as hotel, CONCAT(RTRIM(street),', ', RTRIM(ward),', ', RTRIM(district),', ',RTRIM(city)) as address,
         open_time
FROM hotel as h 
INNER JOIN address as a 
ON h.address_hotel_id = a.address_id
WHERE open_time = '07:00:00'

hotel,address,open_time
Minh Toàn Galaxy,"87 Đường 3/2, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh",07:00:00
Agoda Hotel,"25 Lý Tự Trọng, Phường 15, Quận 10, TP Hồ Chí Minh",07:00:00

In [37]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        b.booking_date, b.payment_type
FROM booking as b 
INNER JOIN guest as g 
ON b.guest_booking_id = g.guest_id 
WHERE g.sex = N'Nam'
AND (
    (MONTH(b.booking_date) BETWEEN 8 AND 10)
    OR b.payment_type = 'Cash' 
    );

full_name,booking_date,payment_type
Tư Mã Ý,2022-04-05,Cash
Lỗ Tử Kính,2022-04-04,Cash
Quan Vân Trường,2022-02-02,Cash
Lưu Huyền Đức,2022-02-12,Cash
Tư Mã Ý,2022-07-08,Cash
Lỗ Tử Kính,2022-09-01,Credit Card
Tào Mạnh Đức,2022-10-02,Credit Card
Tư Mã Ý,2022-10-04,Cash
Lỗ Tử Kính,2022-10-06,Credit Card

In [45]:
select hotel_id
FROM hotel
WHERE room_count > 40
EXCEPT
SELECT hotel_id 
FROM hotel 
WHERE star_rating = 5;

hotel_id
Hotel02
Hotel03

In [13]:
SELECT booking_id, guest_booking_id 
FROM booking
WHERE guest_booking_id  IN (
SELECT guest_id
FROM guest
WHERE sex = N'Nam'
EXCEPT 
SELECT guest_booking_id 
FROM booking 
WHERE duration_stay > 5 AND payment_type = 'Credit Card');

booking_id,guest_booking_id
booking01,guest_12
booking02,guest_09
booking03,guest_02
booking04,guest_03
booking08,guest_10
booking10,guest_07
booking13,guest_02
booking16,guest_09
booking17,guest_12
booking19,guest_07
booking21,guest_12
booking23,guest_09

In [17]:
SELECT room_booking_id 
FROM booking 
WHERE MONTH(booking_date) = 8
EXCEPT 
SELECT room_booking_id
FROM booking 
WHERE DAY(checkin_date) - Day(booking_date) >5

room_booking_id
lmroom_03

In [20]:
SELECT g.first_name, g.date_of_birth, g.contact_number 
FROM guest as g, booking as b
WHERE g.guest_id = b.guest_booking_id 
AND sex = N'Nam' 
AND b.duration_stay > 5;

first_name,date_of_birth,contact_number
Kính,1959-06-23,0923012678
Đức,1954-02-22,0789212345
Cẩn,1967-08-31,0905656565
Đức,1950-06-24,0905236555
Trường,1949-02-22,0898221777
Kính,1959-06-23,0923012678

In [21]:
SELECT r.room_number, rt.name
FROM booking as b, room_type as rt, room as r
WHERE b.room_booking_id = r.room_id 
AND rt.room_type_id = r.room_type_id 
AND b.duration_stay > 5;

room_number,name
621,Phòng đôi cao cấp có quang cảnh
201,Phòng đơn thường
621,Phòng đôi cao cấp có quang cảnh
801,Phòng đôi cao cấp có quang cảnh
546,Phòng Suite
654,Phòng đôi cao cấp có quang cảnh
128,Phòng đơn thường

In [4]:
SELECT  CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
         g.contact_number
FROM booking as b
INNER JOIN (SELECT hotel_id 
            FROM hotel 
            WHERE star_rating = 5) as sub 
ON b.hotel_booking_id = sub.hotel_id 
INNER JOIN guest as g 
ON b.guest_booking_id = g.guest_id
WHERE b.duration_stay > (SELECT AVG(duration_stay) FROM booking)
AND g.sex = N'Nam';

full_name,contact_number
Lã Phụng Tiên,0233299122
Lưu Huyền Đức,0905236555

In [4]:
SELECT h.name, hs.service_name
FROM hotel as h
inner join hotel_service as hs 
ON h.hotel_id = hs.hotel_id
INNER JOIN service_used as su 
ON hs.service_id = su.hotel_service_id

name,service_name
Mường Thanh Luxury,Hồ bơi
Mường Thanh Luxury,Đổi tiền
LandMark 81,Phòng Giải Trí
Minh Toàn Galaxy,Tổ chức tiệc
LandMark 81,Hồ bơi
Agoda Hotel,Hồ bơi
Agoda Hotel,Phòng Dịch Vụ 24h
Minh Toàn Galaxy,Tổ chức tiệc
Mường Thanh Luxury,Giặt Ủi
Mường Thanh Luxury,Hồ bơi
LandMark 81,Phòng Giải Trí
Mường Thanh Luxury,Hồ bơi

In [7]:
SELECT b.booking_id,h.name, r.room_id, r.room_number
FROM booking as b
INNER JOIN hotel as h
ON b.hotel_booking_id = h.hotel_id 
INNER JOIN room as r
ON b.room_booking_id = r.room_id 
INNER JOIn room_type as rt 
ON r.room_type_id = rt.room_type_id
WHERE b.duration_stay > 3
AND rt.name = N'Phòng đơn thường'

booking_id,name,room_id,room_number
booking11,Minh Toàn Galaxy,mtroom_01,201
booking16,Mường Thanh Luxury,mthroom_05,145
booking18,Agoda Hotel,agoroom_04,128

In [7]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
         g.contact_number, sub.room_count
FROM guest as g 
INNER JOIN (SELECT guest_booking_id, COUNT(room_booking_id) as room_count
            FROM booking
            GROUP BY guest_booking_id) as sub
ON g.guest_id = sub.guest_booking_id
ORDER BY room_count DESC ;

full_name,contact_number,room_count
Hoàng Nguyệt Anh,0989212234,3
Quan Vân Trường,0898221777,3
Tư Mã Ý,0972822322,3
Lỗ Tử Kính,0923012678,3
Triệu Tử Long,0965233244,3
Lưu Huyền Đức,0905236555,2
Thái Vân Cơ,0332123332,2
Tôn Thượng Hương,0888765666,2
Tào Mạnh Đức,0789212345,2
Lã Phụng Tiên,0233299122,1
Tuân Úc,0889870623,1
Chu Công Cẩn,0905656565,1

In [8]:
SELECT h.name as hotel, hs.service_name, sub.count as total
FROM hotel_service as hs 
INNER JOIN (SELECT hotel_service_id, SUM(s.count) as count
            FROM service_used as s
            GROUP BY hotel_service_id ) as sub
ON hs.service_id = sub.hotel_service_id 
INNER JOIN hotel as h
ON hs.hotel_id = h.hotel_id;

hotel,service_name,total
Agoda Hotel,Hồ bơi,2
Agoda Hotel,Phòng Dịch Vụ 24h,2
LandMark 81,Hồ bơi,4
LandMark 81,Phòng Giải Trí,3
Minh Toàn Galaxy,Tổ chức tiệc,3
Minh Toàn Galaxy,Gym,3
Mường Thanh Luxury,Hồ bơi,8
Mường Thanh Luxury,Giặt Ủi,4
Mường Thanh Luxury,Đổi tiền,2

In [30]:
SELECT hotel_id,AVG(price)
FROM room 
GROUP BY hotel_id

hotel_id,(No column name)
Hotel01,4400000
Hotel02,2975000
Hotel03,1450000
Hotel04,6625000

In [7]:
SELECT m.meal_id, sub.employee_count
FROM meal as m 
INNER JOIN (SELECT meal_id, COUNT(waiter_id) as employee_count
            FROM serve 
            GROUP BY meal_id) as sub
ON m.meal_id = sub.meal_id 
WHERE m.time = N'Sáng';

meal_id,employee_count
meal_01,1
meal_03,2
meal_06,1
meal_09,1
meal_12,1
meal_17,3
meal_19,1
meal_21,1
meal_23,1
meal_27,1
meal_31,1
meal_36,1
meal_40,2
meal_44,1
meal_46,1
meal_48,1
meal_50,1

In [10]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name, 
        g.date_of_birth, g.contact_number
FROM guest as g
INNER JOIN (SELECT guest_booking_id, COUNT(booking_id) as total_booking,
                    AVG(duration_stay) as avg_duration
            FROM booking as b
            GROUP BY guest_booking_id
            HAVING COUNT(booking_id) > 3
            OR AVG(duration_stay) > 3) as sub
ON g.guest_id = sub.guest_booking_id;

first_name,date_of_birth,contact_number
Cẩn,1967-08-31,0905656565
Đức,1950-06-24,0905236555
Tiên,1962-05-15,0233299122
Anh,1967-09-01,0989212234
Trường,1949-02-22,0898221777
Cơ,1959-02-22,0332123332
Đức,1954-02-22,0789212345
Úc,1945-09-21,0889870623
Kính,1959-06-23,0923012678

In [14]:
SELECT h.name, a.city, a.district, a.ward, a.street, sub.count_employee
FROM hotel as h 
INNER JOIN (SELECT emp_hotel_id, COUNT(*) as count_employee
            FROM employee 
            GROUP BY emp_hotel_id 
            HAVING COUNT(*) > 3) as sub
ON h.hotel_id = sub.emp_hotel_id 
INNER JOIN address as a 
ON h.address_hotel_id = a.address_id

name,city,district,ward,street,count_employee
Mường Thanh Luxury,TP Hồ Chí Minh,Quận 10,Phường 8,67 Cách Mạng Tháng 8,4

In [16]:
SELECT mn.name, m.meal_id, sub.waiter_count
FROM meal as m
INNER JOIN (Select meal_id, COUNT(waiter_id) as waiter_count
            FROM serve 
            GROUP BY meal_id) as sub
ON m.meal_id = sub.meal_id 
INNER JOIN menu as mn 
ON m.menu_id = mn.menu_id 
WHERE m.time = N'Tối' AND sub.waiter_count > 1

name,meal_id,waiter_count
Agoda Menu,meal_02,2
Agoda Menu,meal_05,2
Minh Toàn Menu,meal_14,2
Mường Thanh Menu,meal_33,2
Mường Thanh Menu,meal_35,2
Land Mark Menu,meal_47,2