In [2]:
use Hotel_Restaurant_Management;
SELECT dn.dish_name, m.menu_id,dn.price, md.amount
FROM meal as m  
INNER JOIN meal_detail as md  
ON m.meal_id = md.meal_id 
INNER JOIN dish_name as dn 
ON md.dish_id = dn.dish_id 
WHERE m.time = N'Tối'
AND md.amount > 1;

dish_name,menu_id,price,amount
Cà phê sữa,menu_mt,25000,2
Nước trái cây các loại,menu_lm,30000,2

In [6]:
SELECT DISTINCT CONCAT(Rtrim(w.lname), ' ', RTRIM(w.mname), ' ', RTRIM(w.fname)) as full_name, dob, sex 
FROM waiter as w
INNER JOIN serve as s 
ON s.waiter_id = w.waiter_id
WHERE w.fname LIKE 'T%'
OR YEAR(GETDATE()) - YEAR(dob) IN (34,44);

full_name,dob,sex
Chu Thương,1968-03-03,Nam
Công Tôn Toản,1968-04-21,Nam
Đổng Trác,1975-01-21,Nam
Gia Cát Cẩn,1978-10-12,Nam
Hạ Hầu Đôn,1988-01-12,Nam
Hoàng Hán Thăng,1971-02-22,Nam
Lưu Cảnh Thăng,1969-06-23,Nam
Lý Man Thành,1970-03-22,Nam
Mã Mạnh Khởi,1978-01-25,Nam

In [13]:
SELECT r.name as restaurant, d.dish_name, d.price 
FROM dish_name as d 
INNER JOIN menu as m 
ON d.menu_id = m.menu_id 
INNER JOIN restaurant as r 
ON m.res_id = r.res_id 
WHERE (d.dish_name LIKE'C%' OR d.dish_name LIKE 'c%')
AND r.hotel_id NOT IN ('Hotel02', 'Hotel03')
AND d.price > 60000
ORDER BY d.price DESC;

restaurant,dish_name,price
Mường Thanh Restaurant,Cá hồi áp chảo,450000
Mường Thanh Restaurant,Cá ngừ & mù tạt,200000
Mường Thanh Restaurant,Cơm chiên dương châu,100000
Land Mark Restaurant,Cà phê và trái cây,80000

In [17]:
SELECT d.dish_name, m.name as menu, ROUND(d.price * 1.1, 1) as price_after
FROM dish_name as d 
INNER JOIN menu as m 
ON d.menu_id = m.menu_id

dish_name,menu,price_after
Cua hấp,Agoda Menu,99000
Bò hấp,Agoda Menu,110000
Tôm hấp,Agoda Menu,88000
Gà hấp,Agoda Menu,66000
Cá hấp,Agoda Menu,82500
Cà phê,Agoda Menu,31900
Nước bí đao,Agoda Menu,16500
Tôm hùm hấp,Land Mark Menu,660000
Súp bí ngô,Land Mark Menu,165000
Bò sốt tiêu đen,Land Mark Menu,770000
Mỳ ý bò bằm,Land Mark Menu,220000
Salad rau củ,Land Mark Menu,110000
Cà phê và trái cây,Land Mark Menu,88000
Nước trái cây các loại,Land Mark Menu,33000
Gà nướng,Minh Toàn Menu,110000
Salad cá ngừ,Minh Toàn Menu,88000
Sườn nướng,Minh Toàn Menu,220000
Mỳ ý,Minh Toàn Menu,77000
Súp cua,Minh Toàn Menu,77000
Cà phê sữa,Minh Toàn Menu,27500
Nước rau má,Minh Toàn Menu,33000
Cơm chiên dương châu,Mường Thanh Menu,110000
Cá hồi áp chảo,Mường Thanh Menu,495000
Bò bít tết,Mường Thanh Menu,550000
Súp kem nấm,Mường Thanh Menu,132000
Cá ngừ & mù tạt,Mường Thanh Menu,220000
Cà phê và bánh,Mường Thanh Menu,55000
Nước cam,Mường Thanh Menu,44000

In [21]:
SELECT h.name as hotel, r.room_number, r.price,
       CASE WHEN room_type_id = 'type1' THEN (r.price - r.price * 0.05)
             WHEN room_type_id = 'type2' THEN (r.price - r.price * 0.08)
             WHEN room_type_id = 'type3' THEN (r.price - r.price * 0.10)
             WHEN room_type_id = 'type4' THEN (r.price - r.price * 0.15)
             WHEN room_type_id = 'type5' THEN (r.price - r.price * 0.20) END as price_after
FROM room as r 
INNER JOIN hotel as h 
ON r.hotel_id = h.hotel_id

hotel,room_number,price,price_after
Agoda Hotel,621,2500000,2125000
Agoda Hotel,441,1500000,1350000
Agoda Hotel,191,1000000,920000
Agoda Hotel,128,800000,760000
LandMark 81,901,8000000,6400000
LandMark 81,905,8000000,6400000
LandMark 81,801,6000000,5100000
LandMark 81,702,4500000,4050000
Mường Thanh Luxury,256,3000000,2700000
Mường Thanh Luxury,345,5000000,4250000
Mường Thanh Luxury,324,4000000,3680000
Mường Thanh Luxury,546,8000000,6400000
Mường Thanh Luxury,145,2000000,1900000
Minh Toàn Galaxy,201,900000,855000
Minh Toàn Galaxy,307,2000000,1840000
Minh Toàn Galaxy,654,5000000,4250000
Minh Toàn Galaxy,432,4000000,3600000

In [25]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        h.name as hotel, b.duration_stay * r.price as room_price
FROM booking as b 
INNER JOIN room as r 
ON b.room_booking_id = r.room_id 
INNER JOIN hotel as h 
ON b.hotel_booking_id = h.hotel_id 
INNER JOIN guest as g 
ON b.guest_booking_id = g.guest_id 
WHERE g.sex = N'Nam'
AND YEAR(GETDATE()) - YEAR(g.date_of_birth) > 50

full_name,hotel,room_price
Triệu Tử Long,Mường Thanh Luxury,6000000
Tư Mã Ý,LandMark 81,32000000
Lưu Huyền Đức,Agoda Hotel,8000000
Lã Phụng Tiên,Mường Thanh Luxury,20000000
Lỗ Tử Kính,Agoda Hotel,17500000
Quan Vân Trường,Minh Toàn Galaxy,20000000
Tuân Úc,Minh Toàn Galaxy,20000000
Tào Mạnh Đức,Minh Toàn Galaxy,9000000
Chu Công Cẩn,Agoda Hotel,17500000
Lưu Huyền Đức,LandMark 81,54000000
Quan Vân Trường,Minh Toàn Galaxy,45000000
Tư Mã Ý,Mường Thanh Luxury,8000000
Triệu Tử Long,Minh Toàn Galaxy,20000000
Lỗ Tử Kính,Agoda Hotel,4800000
Tào Mạnh Đức,Minh Toàn Galaxy,4000000
Triệu Tử Long,Mường Thanh Luxury,16000000
Tư Mã Ý,Mường Thanh Luxury,9000000
Lỗ Tử Kính,LandMark 81,18000000
Quan Vân Trường,Mường Thanh Luxury,12000000

In [29]:
SELECT m.meal_id, d.dish_name, d.price * md.amount as cost
FROM meal as m 
INNER JOIN meal_detail as md 
ON m.meal_id = md.meal_id 
INNER JOIN dish_name as d 
ON d.dish_id = md.dish_id 
INNER JOIN booking as b 
ON m.booking_id = b.booking_id
WHERE m.time = N'Sáng'
AND b.hotel_booking_id = 'Hotel01'

meal_id,dish_name,cost
meal_23,Cơm chiên dương châu,100000
meal_27,Súp kem nấm,120000
meal_31,Cơm chiên dương châu,100000

In [31]:
SELECT h.name as hotel, CONCAT(RTRIM(street),', ', RTRIM(ward),', ', RTRIM(district),', ',RTRIM(city)) as address,
        COUNT(employee_id) as employee_count
FROM hotel as h
INNER JOIN employee as e 
ON h.hotel_id = e.emp_hotel_id 
INNER JOIn address as a 
ON h.address_hotel_id = a.address_id
GROUP BY h.name, street, ward, district, city;

hotel,address,employee_count
Agoda Hotel,"25 Lý Tự Trọng, Phường 15, Quận 10, TP Hồ Chí Minh",4
LandMark 81,"195 Trần Cao Vân, Phường Tân Phú, Quận 7, TP Hồ Chí Minh",4
Minh Toàn Galaxy,"87 Đường 3/2, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh",4
Mường Thanh Luxury,"67 Cách Mạng Tháng 8, Phường 8, Quận 10, TP Hồ Chí Minh",5

In [37]:
SELECT h.name as hotel, MAX(r.price) as max_room_price
FROM hotel as h 
INNER JOIN room as r 
ON h.hotel_id = r.hotel_id 
GROUP BY h.name
ORDER BY max_room_price ASC;

hotel,max_room_price
Agoda Hotel,2500000
Minh Toàn Galaxy,5000000
Mường Thanh Luxury,8000000
LandMark 81,8000000

In [41]:
SELECT h.name as hotel, b.payment_type,COUNT(payment_type) as payment_type_count
FROM hotel as h 
INNER JOIN booking as b 
ON h.hotel_id = b.hotel_booking_id 
GROUP BY h.name, payment_type
ORDER BY hotel, payment_type_count;

hotel,payment_type,payment_type_count
Agoda Hotel,Cash,1
Agoda Hotel,Credit Card,4
LandMark 81,Credit Card,3
LandMark 81,Cash,4
Minh Toàn Galaxy,Cash,1
Minh Toàn Galaxy,E-payment,2
Minh Toàn Galaxy,Credit Card,3
Mường Thanh Luxury,E-payment,1
Mường Thanh Luxury,Cash,2
Mường Thanh Luxury,Credit Card,5

In [45]:
SELECT h.name as hotel, hs.service_name, SUM(s.count) as total
FROM hotel as h 
INNER JOIN hotel_service as hs 
ON h.hotel_id = hs.hotel_id 
INNER JOIN service_used as s
ON hs.service_id = s.hotel_service_id 
WHERE h.hotel_id = 'Hotel01'
GROUP BY h.name,hs.service_name
ORDER BY hs.service_name

hotel,service_name,total
Mường Thanh Luxury,Đổi tiền,2
Mường Thanh Luxury,Giặt Ủi,4
Mường Thanh Luxury,Hồ bơi,8

In [50]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        COUNT(booking_id) as booking_count, AVG(duration_stay) as avg_stay
FROM guest as g 
INNER JOIN booking as b 
ON g.guest_id = b.guest_booking_id 
GROUP BY last_name, middle_name, first_name
HAVING COUNT(booking_id) >= 3 OR AVG(duration_stay) >= 3
ORDER BY full_name;

full_name,booking_count,avg_stay
Chu Công Cẩn,1,7
Hoàng Nguyệt Anh,3,4
Lã Phụng Tiên,1,5
Lỗ Tử Kính,3,5
Lưu Huyền Đức,2,5
Quan Vân Trường,3,5
Tào Mạnh Đức,2,5
Thái Vân Cơ,2,4
Tôn Thượng Hương,2,3
Triệu Tử Long,3,3
Tư Mã Ý,3,3
Tuân Úc,1,5

In [49]:
SELECT m.meal_id, mn.name, COUNT(s.waiter_id) as waiter_count
FROM meal as m 
INNER JOIN serve as s 
ON m.meal_id = s.meal_id 
INNER JOIN menu as mn 
ON mn.menu_id = m.menu_id 
WHERE m.time = N'Tối'
GROUP BY m.meal_id, mn.name
HAVING COUNT(s.waiter_id) > 1;

meal_id,name,waiter_count
meal_02,Agoda Menu,2
meal_05,Agoda Menu,2
meal_14,Minh Toàn Menu,2
meal_33,Mường Thanh Menu,2
meal_35,Mường Thanh Menu,2
meal_47,Land Mark Menu,2

In [52]:
SELECT b.guest_booking_id, SUM(s.count) as total_used
FROM booking as b 
INNER JOIN service_used as s 
ON b.booking_id = s.service_booking_id 
WHERE b.hotel_booking_id = 'Hotel01'
GROUP BY b.guest_booking_id 
HAVING SUM(s.count) > 2;

guest_booking_id,total_used
guest_05,3
guest_09,3
guest_12,8

In [54]:
SELECT TOP 1 h.name as hotel ,COUNT(*) as total_suite_room
FROM room as r 
INNER JOIN hotel as h 
ON r.hotel_id = h.hotel_id 
WHERE r.room_type_id = 'type5'
GROUP BY h.name
ORDER BY total_suite_room DESC;

hotel,total_suite_room
LandMark 81,2

In [9]:
SELECT b.booking_id, 
       CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
       sex, g.contact_number 
FROM booking as b
INNER JOIn guest as g 
ON b.guest_booking_id = g.guest_id 
WHERE b.guest_booking_id  IN (
SELECT guest_id
FROM guest
WHERE sex = N'Nam'
EXCEPT 
SELECT guest_booking_id 
FROM booking 
WHERE duration_stay > 5 AND payment_type = 'Credit Card')
AND b.hotel_booking_id = 'Hotel01';

booking_id,full_name,sex,contact_number
booking01,Triệu Tử Long,Nam,0965233244
booking04,Lã Phụng Tiên,Nam,0233299122
booking16,Tư Mã Ý,Nam,0972822322
booking21,Triệu Tử Long,Nam,0965233244
booking23,Tư Mã Ý,Nam,0972822322

In [17]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
        h.name as hotel
FROM booking as b 
INNER JOIN hotel as h
ON b.hotel_booking_id = h.hotel_id
INNER JOIN guest as g
On b.guest_booking_id = g.guest_id 
WHERE b.booking_id IN (
    SELECT booking_id 
    FROM booking WHERE MONTH(booking_date) = 3
    INTERSECT 
    SELECT booking_id 
    FROM booking WHERE payment_type = 'Credit Card'
)

full_name,hotel
Lưu Huyền Đức,Agoda Hotel
Hoàng Nguyệt Anh,LandMark 81
Thái Vân Cơ,LandMark 81

In [3]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name, 
        g.date_of_birth, g.contact_number, sub.total_booking, sub.avg_duration
FROM guest as g
INNER JOIN (SELECT guest_booking_id, COUNT(booking_id) as total_booking,
                    AVG(duration_stay) as avg_duration
            FROM booking as b
            GROUP BY guest_booking_id
            HAVING COUNT(booking_id) > 3
            OR AVG(duration_stay) > 3) as sub
ON g.guest_id = sub.guest_booking_id;

full_name,date_of_birth,contact_number,total_booking,avg_duration
Chu Công Cẩn,1967-08-31,0905656565,1,7
Lưu Huyền Đức,1950-06-24,0905236555,2,5
Lã Phụng Tiên,1962-05-15,0233299122,1,5
Hoàng Nguyệt Anh,1967-09-01,0989212234,3,4
Quan Vân Trường,1949-02-22,0898221777,3,5
Thái Vân Cơ,1959-02-22,0332123332,2,4
Tào Mạnh Đức,1954-02-22,0789212345,2,5
Tuân Úc,1945-09-21,0889870623,1,5
Lỗ Tử Kính,1959-06-23,0923012678,3,5

In [4]:
SELECT CONCAT(Rtrim(g.last_name), ' ', RTRIM(g.middle_name), ' ', RTRIM(g.first_name)) as full_name,
         g.contact_number, sub.room_count
FROM guest as g 
INNER JOIN (SELECT guest_booking_id, COUNT(room_booking_id) as room_count
            FROM booking
            GROUP BY guest_booking_id) as sub
ON g.guest_id = sub.guest_booking_id
ORDER BY room_count DESC ;

full_name,contact_number,room_count
Hoàng Nguyệt Anh,0989212234,3
Quan Vân Trường,0898221777,3
Tư Mã Ý,0972822322,3
Lỗ Tử Kính,0923012678,3
Triệu Tử Long,0965233244,3
Lưu Huyền Đức,0905236555,2
Thái Vân Cơ,0332123332,2
Tôn Thượng Hương,0888765666,2
Tào Mạnh Đức,0789212345,2
Lã Phụng Tiên,0233299122,1
Tuân Úc,0889870623,1
Chu Công Cẩn,0905656565,1

#### Pivot Query

In [ ]:
SELECT sub.guest_id, 
        ISNULL([Mường Thanh Restaurant],0) as N'Mường Thanh Restaurant', 
        ISNULL([Minh Toàn Restaurant],0) as N'Minh Toàn Restaurant', 
        ISNULL([Agoda Restaurant],0) as N'Agoda Restaurant', 
        ISNULL([Land Mark Restaurant],0) as N'LandMark Restaurant'
FROM (SELECT b.guest_booking_id as guest_id ,
             r.name as restaurant, meal_id
        FROM meal as m
        INNER JOIN menu as mn
        ON m.menu_id  = mn.menu_id
        INNER JOIN booking as b 
        ON m.booking_id = b.booking_id
        INNER JOIN restaurant as r 
        ON r.res_id = mn.res_id
        ) as sub
Pivot 
(
    COUNT(meal_id) 
    for restaurant IN([Mường Thanh Restaurant], [Minh Toàn Restaurant], [Agoda Restaurant], 
                            [Land Mark Restaurant]) 
) as sub;

guest_id,Mường Thanh Restaurant,Minh Toàn Restaurant,Agoda Restaurant,LandMark Restaurant
guest_01,0,0,2,0
guest_02,0,0,3,2
guest_03,2,0,0,0
guest_04,3,0,0,2
guest_05,2,3,0,0
guest_06,0,0,1,2
guest_07,0,0,0,4
guest_08,0,4,0,0
guest_09,2,0,0,2
guest_10,0,2,0,0
guest_11,0,0,5,3
guest_12,4,2,0,0

In [ ]:
SELECT guest_id,
        ISNULL([Mường Thanh Luxury],0) as N'Mường Thanh Luxury', 
        ISNULL([Minh Toàn Galaxy],0) as N'Minh Toàn Galaxy', 
        ISNULL([Agoda Hotel],0) as N'Agoda Hotel', 
        ISNULL([LandMark 81],0) as N'LandMark 81'
FROM (SELECT guest_booking_id as guest_id, h.name as hotel_name, duration_stay
        FROM booking as b 
        INNER JOIN hotel as h 
        ON h.hotel_id = b.hotel_booking_id) as sub
PIVOT (
    AVG(duration_stay)
    FOR hotel_name in ([Mường Thanh Luxury],[Minh Toàn Galaxy],[Agoda Hotel],[LandMark 81])
) as avg_stay;

guest_id,Mường Thanh Luxury,Minh Toàn Galaxy,Agoda Hotel,LandMark 81
guest_01,0,0,7,0
guest_02,0,0,2,9
guest_03,5,0,0,0
guest_04,5,0,0,3
guest_05,3,6,0,0
guest_06,0,0,5,3
guest_07,0,0,0,3
guest_08,0,5,0,0
guest_09,3,0,0,4
guest_10,0,5,0,0
guest_11,0,0,6,3
guest_12,2,5,0,0

In [ ]:
SELECT guest_id,
        ISNULL([Mường Thanh Luxury],0) as N'Mường Thanh Luxury', 
        ISNULL([Minh Toàn Galaxy],0) as N'Minh Toàn Galaxy', 
        ISNULL([Agoda Hotel],0) as N'Agoda Hotel', 
        ISNULL([LandMark 81],0) as N'LandMark 81'
FROM (SELECT guest_booking_id as guest_id, h.name as hotel_name, booking_id
        FROM booking as b 
        INNER JOIN hotel as h 
        ON h.hotel_id = b.hotel_booking_id) as sub
PIVOT (
    COUNT(booking_id)
    FOR hotel_name in ([Mường Thanh Luxury],[Minh Toàn Galaxy],[Agoda Hotel],[LandMark 81])
) as avg_stay;

guest_id,Mường Thanh Luxury,Minh Toàn Galaxy,Agoda Hotel,LandMark 81
guest_01,0,0,1,0
guest_02,0,0,1,1
guest_03,1,0,0,0
guest_04,2,0,0,1
guest_05,1,2,0,0
guest_06,0,0,1,1
guest_07,0,0,0,2
guest_08,0,2,0,0
guest_09,2,0,0,1
guest_10,0,1,0,0
guest_11,0,0,2,1
guest_12,2,1,0,0